/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

.limit {
  max-width: 1090px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.font-2 {
  font-size: 22px;
  font-family: "Verdana";
  font-weight: 700; }

img {
  vertical-align: middle; }

.w-1 {
  width: 8.33333%; }

.w-2 {
  width: 16.66667%; }

.w-3 {
  width: 25%; }

.w-4 {
  width: 33.33333%; }

.w-5 {
  width: 41.66667%; }

.w-6 {
  width: 50%; }

.w-7 {
  width: 58.33333%; }

.w-8 {
  width: 66.66667%; }

.w-9 {
  width: 75%; }

.w-10 {
  width: 83.33333%; }

.w-11 {
  width: 91.66667%; }

.w-12 {
  width: 100%; }

header[role="header"] {
  background: #D93731;
  height: auto; }
  header[role="header"] .header .logo {
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px a;
      padding-bottom-display: block;
      padding-bottom-cursor: pointer; }
  header[role="header"] nav[role="navegacao"] .menu {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 20px;
    max-width: 760px;
    margin-right: auto;
    margin-left: auto; }
    header[role="header"] nav[role="navegacao"] .menu .menu__item {
      text-transform: uppercase;
      display: inline-block; }
      header[role="header"] nav[role="navegacao"] .menu .menu__item .menu__link {
        font-family: "Verdana";
        font-size: 18px;
        display: block;
        padding: 16px 20px;
        color: #fff;
        cursor: pointer; }
    header[role="header"] nav[role="navegacao"] .menu .sub-menu {
      background: url("../img/seta-baixo.png") no-repeat 100% 50%;
      position: relative; }
      header[role="header"] nav[role="navegacao"] .menu .sub-menu .sub-menu__container {
        width: 200px;
        display: none;
        position: absolute;
        background: #e94347;
        border-radius: 6px;
        padding-bottom: 10px;
        z-index: 10; }
        header[role="header"] nav[role="navegacao"] .menu .sub-menu .sub-menu__container .sub-menu__item {
          text-transform: lowercase; }
          header[role="header"] nav[role="navegacao"] .menu .sub-menu .sub-menu__container .sub-menu__item a {
            font-family: "Verdana";
            font-size: 18px;
            display: block;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer; }
          header[role="header"] nav[role="navegacao"] .menu .sub-menu .sub-menu__container .sub-menu__item:after {
            content: " ";
            min-height: 1px;
            margin-left: 30px;
            margin-right: 40px;
            border-bottom: 1px solid #eaeaea;
            display: block; }
          header[role="header"] nav[role="navegacao"] .menu .sub-menu .sub-menu__container .sub-menu__item:last-child:after {
            border: none;
            display: none; }
      header[role="header"] nav[role="navegacao"] .menu .sub-menu:hover .sub-menu__container {
        display: block; }

main[role="main"] .slide {
  width: 100%;
  height: auto;
  margin-bottom: 3em;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  main[role="main"] .slide .slide__content .slide__item {
    display: none; }
    main[role="main"] .slide .slide__content .slide__item img {
      width: 100%; }
  main[role="main"] .slide .slide__content .active {
    display: block;
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s; }
  main[role="main"] .slide .slide__control {
    width: 100%;
    position: absolute;
    top: 43%;
    left: 0;
    cursor: pointer; }
    main[role="main"] .slide .slide__control span {
      position: absolute;
      padding: 0 30px;
      font-size: 4em;
      color: #fff;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; }
    main[role="main"] .slide .slide__control .slide__control--prev {
      left: 50px;
      /*background: green;*/ }
    main[role="main"] .slide .slide__control .slide__control--next {
      right: 50px;
      /*background: red;*/ }
  main[role="main"] .slide .slide__pagination {
    position: absolute;
    bottom: 10px;
    width: 100%; }
    main[role="main"] .slide .slide__pagination ol {
      width: 120px;
      margin-left: auto;
      margin-right: auto; }
      main[role="main"] .slide .slide__pagination ol li {
        background: #fff;
        border-radius: 50%;
        float: left;
        margin: 5px;
        padding: 5px;
        cursor: pointer; }
      main[role="main"] .slide .slide__pagination ol .active {
        background: #da3732; }

main[role="main"] .main {
  padding-bottom: 6em; }
  main[role="main"] .main .noticia {
    overflow: hidden; }
    main[role="main"] .main .noticia .noticia__header--titulo h2 {
      color: #2c3339; }
    main[role="main"] .main .noticia .noticia__header--filtro .filtro .filtro__item {
      position: relative;
      width: 100%;
      max-width: 245px;
      text-align: right;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px; }
      main[role="main"] .main .noticia .noticia__header--filtro .filtro .filtro__item label {
        font-family: "Verdana";
        font-size: 15px;
        color: #7D7575; }
      main[role="main"] .main .noticia .noticia__header--filtro .filtro .filtro__item .campo {
        display: inline-block;
        padding: 8px 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        border: 0;
        background: #e94347; }
        main[role="main"] .main .noticia .noticia__header--filtro .filtro .filtro__item .campo:active, main[role="main"] .main .noticia .noticia__header--filtro .filtro .filtro__item .campo:focus {
          outline: 0; }
      main[role="main"] .main .noticia .noticia__header--filtro .filtro .filtro__item:after {
        content: "";
        height: 31px;
        width: 27px;
        background: #d93732 url("../img/seta-baixo.png") no-repeat 50% 50%;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        pointer-events: none; }
    main[role="main"] .main .noticia .noticia__content {
      clear: both;
      display: block;
      height: auto; }
      main[role="main"] .main .noticia .noticia__content .noticia__item {
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 40px;
        display: inline-block;
        background: #d93732;
        position: relative;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s; }
        main[role="main"] .main .noticia .noticia__content .noticia__item .noticia__item--conteudo {
          max-width: 690px;
          margin-left: 30px;
          padding-top: 10px;
          padding-bottom: 25px; }
          main[role="main"] .main .noticia .noticia__content .noticia__item .noticia__item--conteudo h2 {
            color: #fff;
            margin-bottom: 5px;
            line-height: 1.2em; }
          main[role="main"] .main .noticia .noticia__content .noticia__item .noticia__item--conteudo p {
            color: #fff;
            font-family: "Verdana";
            font-size: 14px;
            line-height: 1.2em; }
        main[role="main"] .main .noticia .noticia__content .noticia__item .noticia__item--seta {
          background: #e94347;
          position: absolute;
          height: 100%;
          right: 0;
          width: 60px;
          font-size: 4em;
          padding-top: 45px;
          padding-bottom: 45px;
          color: #fff; }
        main[role="main"] .main .noticia .noticia__content .noticia__item:last-of-type {
          margin-bottom: 60px; }
  main[role="main"] .main .grafico h2 {
    font-family: "Verdana";
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2c3339; }
  main[role="main"] .main .grafico .grafico__item rect {
    fill: steelblue;
    stroke: white; }
  main[role="main"] .main .grafico .grafico__item .text {
    font-size: 12px;
    stroke: #fff;
    fill: #fff; }
  main[role="main"] .main .conteudo {
    border-left: 2px solid #222;
    margin: 50px -22px;
    padding-right: 10px;
    padding-left: 30px; }
    main[role="main"] .main .conteudo p {
      line-height: 1.2;
      padding-bottom: 15px;
      padding-top: 15px;
      font-family: "Verdana";
      font-size: 16px;
      color: #7D7575; }

.localizacao {
  overflow: hidden;
  height: 400px;
  clear: both;
  width: auto; }

.contato {
  overflow: hidden;
  background: #d93732;
  padding-bottom: 2em; }
  .contato .limit {
    padding-top: 50px;
    padding-bottom: 50px; }
  .contato .formulario {
    border-right: 1px solid #fff; }
    .contato .formulario h5 {
      font-size: 22px;
      font-family: "Verdana";
      margin-bottom: 12px;
      font-weight: 700;
      color: #fff; }
    .contato .formulario .form {
      max-width: 400px; }
      .contato .formulario .form .form__item {
        margin-bottom: 10px;
        display: inline-block;
        color: #fff; }
        .contato .formulario .form .form__item label {
          display: inline-block;
          margin-bottom: 8px;
          font-weight: bold;
          font-size: 16px;
          font-family: "Verdana"; }
        .contato .formulario .form .form__item input {
          width: 100%;
          padding: 8px 16px; }
        .contato .formulario .form .form__item textarea {
          width: 100%; }
    .contato .formulario button {
      padding: 12px 18px;
      border: 0;
      background: #e94347;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      font-family: "Verdana";
      font-weight: bold; }
  .contato .enderecos {
    max-width: 350px;
    padding: 25px;
    font-family: "Verdana";
    color: #fff; }
    .contato .enderecos .endereco__item {
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block; }

footer[role="footer"] {
  min-height: 30px;
  background: #e94347;
  padding-top: 30px;
  padding-bottom: 15px; }
  footer[role="footer"] .footer p {
    color: #fff;
    font-family: "Verdana";
    font-weight: bold;
    font-size: 18px; }

@-webkit-keyframes fade {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }
